/* ### ###    PhotonUI Sharp Tabs, Non floating    ### ### */
@import "non_floating_sharp_tabs.css";
@import "photon_tab_separators.css";
@import "iconized_main_menu.css";
/* Uncommnet to enable loading indicator on top of tab */
/* @import "tab_line_loading_indicator.css"; */
@import "tighten_up_menus.css";
@import "playing_icon.css";
@import "tab_close_button.css";

/* Enable urlbar border when focused */
#urlbar:focus-within > #urlbar-background {
    border-color: -moz-accent-color !important;
    border-width: 1px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  /* Disable gap between the last pinned tab and the first visible tab */
  margin-inline-start: 0 !important;
}

/* No need, can be set with browser.tabs.tabMinWidth
 * ref: https://support.mozilla.org/en-US/questions/1253108
#tabbrowser-tabs {
  --tab-min-width: 76px;
}
*/

:root {
  --tab-min-height: 40px !important;
  --tabs-border-color: rgba(0,0,0,.3);
  --tabs-navbar-shadow-size: 1px;
}
